<%- include ./partials/header.ejs -%>
<h1>About</h1>
<p> <%= aboutContent %> </p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse molestias ut aliquam non reprehenderit quibusdam nam reiciendis ipsum, perspiciatis voluptatum dolorem minus sint, optio porro accusamus aut! Numquam odit animi vitae? Sunt at animi nesciunt veritatis debitis laborum accusantium recusandae omnis quidem molestiae dolor quia consequuntur esse placeat ab, dolores aliquid rerum mollitia quos magni incidunt vero. Architecto sapiente, quidem sed consequuntur sunt iusto similique adipisci itaque. Rerum hic repudiandae, a ipsa aut laudantium dignissimos eligendi sequi blanditiis quaerat at dolorem! Voluptate dolorum tenetur officiis maiores et? Rerum, magni praesentium, laudantium maxime rem, pariatur ratione repudiandae voluptatem dignissimos quasi repellendus?</p>
<%- include ./partials/footer.ejs -%>